<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title></title>
  <script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<%- include('../../sections/header/index.ejs'); -%>
<div class="demo">
  <div class="container">
    <h2 class="title">demo page!!!</h2>
    <h3>图标字体：</h3>
    <div>
      <span class="iconfont icon-icon-test"></span>
      <span class="iconfont icon-icon-test1"></span>
      <span class="iconfont icon-icon-test2"></span>
    </div>
    <a href="#" class="btn text-decoration-none">ga代码自动生成示例1</a>
    <button class="btn">ga代码自动生成示例4</button>
    <h3>背景图片：</h3>
    <div class="image-box"></div>
    <h3>img标签图片：</h3>
    <img class="mw-100" src="../../assets/images/a.jpg" alt="">
    <a href="#" class="btn text-decoration-none">ga代码自动生成示例2</a>
    <div>
      <div>
        <div>
          <button class="btn">ga代码自动生成示例3</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../../sections/footer/index.ejs'); -%>
</body>
</html>
