$primary:       #007bff !default;
$secondary:     #6c757d !default;
$success:       #28a745 !default;
$info:          #17a2b8 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;

$color-body: $light;
$main-title-color: #000000;
$sub-title-color: #333333;
$text-color: #666666;

$zindex-base:                       10 !default;
$zindex-sticky:                     20 !default;
$zindex-fixed:                      30 !default;
