@media (max-width: 319px) {html {font-size: 75px;}}
@media (min-width: 320px) {html {font-size: 85.333px;}}
@media (min-width: 360px) {html {font-size: 96px;}}
@media (min-width: 375px) {html {font-size: 100px;}}
@media (min-width: 414px) {html {font-size: 110.4px;}}
@media (min-width: 480px) {html {font-size: 128px;}}
@media (min-width: 540px) {html {font-size: 144px;}}
@media (min-width: 768px) {html {font-size: 204.8px;}}
